@import "materialdesignicons.min.css";
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: bold;
	src: url('../fonts/bold/IRANSansWeb.eot');
	src: url('../fonts/bold/IRANSansWeb.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../fonts/bold/IRANSansWeb.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../fonts/bold/IRANSansWeb.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../fonts/bold/IRANSansWeb.ttf') format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 500;
	src: url('../fonts/medium/IRANSansWeb.eot');
	src: url('../fonts/medium/IRANSansWeb.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../fonts/medium/IRANSansWeb.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../fonts/medium/IRANSansWeb.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../fonts/medium/IRANSansWeb.ttf') format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 300;
	src: url('../fonts/light/IRANSansWeb.eot');
	src: url('../fonts/light/IRANSansWeb.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../fonts/light/IRANSansWeb.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../fonts/light/IRANSansWeb.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../fonts/light/IRANSansWeb.ttf') format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 200;
	src: url('../fonts/ultralight/IRANSansWeb.eot');
	src: url('../fonts/ultralight/IRANSansWeb.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../fonts/ultralight/IRANSansWeb.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../fonts/ultralight/IRANSansWeb.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../fonts/ultralight/IRANSansWeb.ttf') format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/normal/IRANSansWeb.eot');
	src: url('../fonts/normal/IRANSansWeb.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../fonts/normal/IRANSansWeb.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../fonts/normal/IRANSansWeb.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../fonts/normal/IRANSansWeb.ttf') format('truetype');
}
html, body, #root,.page{
	height: 100%;
}
body {
    font-family: IRANSans;
    padding: 0px;
    margin: 0px;
    border-radius: 0px;
    text-align: right;
	direction: rtl;
	background-color: #F4F5F0;
}
.text-align-right{
  text-align: right;
}
.text-align-left{
  text-align: left;
}
.header {
    box-sizing: border-box;
    padding: 25px;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #FFFFFF;
}
h2#siteTitle {
	font-size : 24px;
    float: right;
}
#registerBtn {
    float: left;
}
.btn {
    border-radius: 100px;
    font-size: 10pt;
    padding: 7px 40px;
}
.cover{
	background-image: url('../images/cover.png');
	height: 100vh;
	background-size: cover;
	display: table;
	width: 100%;
	margin: 0;
}
.cover h1{
  font-size: 40pt;
  line-height: 2; 
}
.cover span{
  color: #9B9B9B;
  font-size: 13pt;
  width: 40%;
  
  display: block;
  margin: 0 auto;
}
.cover > .block {
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}

.btn-primary-o {
    color: #007bff;
    border-color: #007bff;
  }
  
  .btn-primary-o:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
  }
  
  .btn-primary-o:focus, .btn-primary-o.focus {
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
  }
  
  .btn-primary-o.disabled, .btn-primary-o:disabled {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .btn-primary-o:not(:disabled):not(.disabled):active, .btn-primary-o:not(:disabled):not(.disabled).active,
  .show > .btn-primary-o.dropdown-toggle {
    color: #fff;
    background-color: #0062cc;
    border-color: #005cbf;
  }
  
  .btn-primary-o:not(:disabled):not(.disabled):active:focus, .btn-primary-o:not(:disabled):not(.disabled).active:focus,
  .show > .btn-primary-o.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
  }
.block {
    padding: 10px 25px;
    text-align: center;
}
.green-block {
    background-color: #40BE65;
    color: #FDFDFD;
}
section {
  /*min-height: 100vh;*/
  text-align: center;
  margin: 20px auto;
}
section > h2 {
  text-align: center;
  font-size: 36pt;
  font-weight: bold;
}
.cover-image {
    width: 100%;
    height: auto;
}
.timeline {
  padding: 35px 10px;
  box-sizing: border-box;
}
.timeline > .items {
    border-right: solid #B0B0B0 2px;
    margin-right: 20px;
}
.timeline .item {
  background-color: #FFFFFF;
  margin: 30px 25px;
  padding: 15px 25px;
  text-align: right;
  border-radius: 5px;
  position: relative;
  border: 1px solid #EAEAEA;
  box-sizing: border-box;
  transition: all linear 0.5s;
}
.timeline .item:hover {
  border-color: #DB5461;
}
.timeline .item:before {
  content: attr(data-time);
  position: absolute;
  right: -80px;
  text-align: left;
  font-family: IRANSans;
}
.timeline .item:after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  background-color: #DB5461;
  border-radius: 50px;
  right: -37px;
  top: 18px;
}

.Guests .item{
  clear: both;
  margin: 20px auto;
  padding: 10px 0;
}
.Guests .item > * {
  display: table-cell;
  vertical-align: top;
}
.Guests .item-description > h3{
  font-weight: bold;
}
.Guests .item-description > p{
  color : #b9b9b9;
  font-size: 14pt;
}
.Guests .item.right > .item-image {
    float: right;
    margin-left: 50px; 
}
.Guests .item.right > .item-description {
  margin-top: 20px;
}
.Guests .item.left > .item-image {
    float: left;
    margin-right: 50px; 
}
.Guests .item.left > .item-description {
  margin-top: 20px;
}
.Holders .item {
  float: right;
  position: relative;
}
.Holders .item {
  float: right;
}
.Holders .item-container{
  position: relative;
  padding: 0;
  margin: 10px;
}
.Holders .item-image {
  width: 100%;
  height: 100%;
}
.Holders .item-description {
  position: absolute;
  z-index: 9;
  background-color: transparent;
  width: 100%;
  height: 100%;
  padding: 10px;
  top: 0;
  right: 0;
  color: #ffffff;
  display: flex;
  flex-direction: column-reverse;
  transition: all linear 0.5s;
}
.Holders .item-description:hover {
  background-color: rgba(0,0,0,0.8);
  visibility: visible;
  opacity: 1;
}
.Holders .item-description > p {
  height: 0;
  opacity: 0;
  transition: inherit;
}
.Holders .item-description:hover > p {
  height: 100%;
  opacity: 1;
}
.Holders .item-title {
  text-shadow: -2px 2px 0 #333;
}
.item-social > a {
  color: inherit;
  font-size: 20pt;
  display: inline-block;
}
.Sponcers{
  background-color: #fff;
}
.Sponcers .item {
  display: inline-block;
  border-left: solid 1px #555;
}
@media ( max-width : 576px){
  header > h2#siteTitle {
    text-align: center;
    display: block;
    float: none;
  }
  header > #registerBtn {
    float: none;
    margin: 0 auto;
    display : block;
  }
  .cover h1 {
    font-size: 16pt;
  }
  .cover span {
    font-size: 11pt;
    width: auto;
  }
}